# Node / JS
node_modules/
**/node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Builds
dist/
**/dist/
build/
**/build/
coverage/
logs/
*.log

# Env files (credenciales)
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

# TypeScript
*.tsbuildinfo

# Misc
.npmrc
.eslintcache
